*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
public/images/people/**/* filter=lfs diff=lfs merge=lfs -text
people filter=lfs diff=lfs merge=lfs -text

# Collapse generated lockfile in GitHub diffs
package-lock.json linguist-generated=true
